$main-color: #2a9d8f;

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1faee;
}

h1 {
  color: $main-color;
  text-align: center;
  margin-top: 2rem;
}
