@use "../../styles/mixins" as mix;

.container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 16px;
  // width: 100%;
  // min-height: 100dvh;
  // padding: 60px 120px;
  box-sizing: border-box;
  background-color: transparent;
  transition: all 0.4s ease;

  @include mix.tablet {
    padding: 32px 28px;
    justify-content: center;
  }

  @include mix.mobile {
    flex-direction: column;
    padding: 20px 16px;
    align-items: stretch;
  }
}

.formContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  min-width: 0;

  @include mix.mobile {
    order: 1;
    width: 100%;
  }
}

.imageContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-width: 600px;
  margin-left: 32px;
  transition: all 0.5s ease;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;

  @include mix.tablet {
    opacity: 0;
    transform: translateY(-30px);
    pointer-events: none;
  }

  // мобілка — знову з’являється знизу
  @include mix.mobile {
    order: 2;
    display: flex;
    margin: 20px auto 0 auto;
    width: 80%;
    max-width: 360px;
    justify-content: center;

    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}

.image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  transition: border-radius 0.3s ease;

  @include mix.mobile {
    border-radius: 14px;
  }
}
