@use "../../styles/variables" as vars;

.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 40px 64px;
  background-color: vars.$color-section-bg;
  border-radius: 30px;

  h2 {
    max-width: 440px;
    text-align: start;
    color: vars.$color-description;
    font-weight: 700;
    font-size: 64px;
    line-height: 94%;
    letter-spacing: 0.02em;
    margin-top: 107px;
    margin-bottom: 40px;

    .book {
      color: vars.$color-span;
    }
  }
}

.logo {
  fill: vars.$color-description;
}

.logoWrapper {
  display: flex;
  gap: 4px;
}

.logoDescription {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: vars.$color-description;
}

.button {
  display: inline-flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 16px 54px;
  height: 52px;
  border: 1px solid vars.$color-description;
  color: vars.$color-description;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover:not(:disabled) {
    background-color: vars.$color-description;
    color: vars.$color-section-bg;
    border: none;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.bottomForm {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 68px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  border-bottom: 1px solid vars.$color-text;
  padding-bottom: 0.01px;
  color: vars.$color-text;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    color: vars.$color-description;
    border-bottom: 1px solid vars.$color-description;
  }
}

// @media (max-width: 767px) {
//   .form {
//     margin: 20px;
//     padding: 1.5rem;
//   }

//   h2 {
//     font-size: 1.5rem;
//   }
// }

// @media (min-width: 768px) and (max-width: 1439px) {
//   .form {
//     max-width: 500px;
//     padding: 2rem;
//   }

//   h2 {
//     font-size: 1.7rem;
//   }
// }

// @media (min-width: 1440px) {
//   .form {
//     max-width: 600px;
//     padding: 2.5rem;
//   }

//   h2 {
//     font-size: 2rem;
//   }
// }
