@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mix;

.header {
  width: 100%;
  background-color: vars.$color-section-bg;
  height: 74px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 15px;
  margin-bottom: 16px;

  @include mix.mobile {
    padding: 11px 20px;
  }
}

.logo {
  display: flex;
  align-items: center;
  color: vars.$color-description;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;

  @include mix.mobile {
    margin-bottom: 0.75rem;
  }
}

.navWrapper {
  width: 668px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mix.mobile {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
}

.userMenu {
  display: flex;
  align-items: center;
  gap: 1rem;
}
