@use "../../../styles/variables" as vars;

.menu {
  display: flex;
  align-items: center;
  gap: 18px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid vars.$color-description;
  background: none;
  width: 40px;
  height: 40px;
  color: vars.$color-description;
}

.username {
  font-weight: 600;
  color: #fff;
}

.logoutBtn {
  padding: 12px 28px;
  border: 1px solid vars.$color-secondary;
  border-radius: 30px;
  background: none;
  color: vars.$color-description;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    color: vars.$color-section-bg;
    background-color: vars.$color-description;
  }
}
