@use "../../../styles/variables" as vars;

.navList {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.02em;
  color: vars.$color-text;
  gap: 40px;
  list-style: none;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.link {
  color: vars.$color-text;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;

  &:hover {
    color: vars.$color-description;
  }
}

.active {
  color: vars.$color-description;
  font-weight: 600;
  border-bottom: 2px solid vars.$color-underline;
}
