@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixins;

.wrapper {
  background-color: vars.$color-section-bg;
  border-radius: 30px;
  padding: 40px;
  width: 100%;
  max-width: 847px;
  margin: 0 auto;
}

.list {
  display: grid;
  gap: 20px 27px;
  justify-content: center;

  @include mixins.desktop {
    grid-template-columns: repeat(5, 1fr);
  }

  @include mixins.tablet {
    grid-template-columns: repeat(4, 1fr);
  }

  @include mixins.mobile {
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
  }
}

.book {
  width: 137px;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}
